:root {
  /* hpyc */
  --hpyc-red: #ff3333;
  --hpyc-text: #3b4351;

  /* header */
  --hero-background: #266ed9;

   /* menu */
  --menu-background: #1C509E;
  --menu-text: #dee7f9;
  --menu-divider: #dee7f9;
  --menu-selected: #266ed9;
}


/* -- tankerton -- */
_body {
   font-family: Lora;
}


#hpyc-hero .hero-body {
    color: var(--menu-text);
    text-align: center;
    _background-image: url("images/waves.png");
}

.hero {
    /* override Spectre CSS */
    padding-bottom: 0rem;
    padding-top: 2rem;
    background:  var(--hero-background);
}

#hpyc-hero h1{
   font-size: 60px;
}


#hpyc-menu a {
    color: var(--menu-text);
}

/* standard content page */
.xxxx_hpyc-page {
   margin-left:30px;
   margin-right:30px;
   border: 2px solid var(--hpyc-red);
}

/* can these go? */
.hpyc-content h1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hpyc-content p {
  margin-left: 1rem;
  margin-right: 1rem;;
  _border: 2px solid red;
}

/* standard context section */
.hpyc-section {
    padding-left:10px
    padding-right:10px;

    margin-bottom: 0.5rem;
    _border: 2px solid pink;
}

.hpyc-section h2 {
  margin-top: 0.3rem;
  _margin-left: 1rem;
  _margin-right: 1rem;
}

.hpyc-section .hpyc-image  {
    padding-top:10px;
    _border: 2px solid green;
}


span.hpyc-image  {
    margin-right:20px;
    margin-top:20px
    margin-bottom:20px;
    padding-bottom : 10px;
    display: inline-block;
    _border: 2px solid pink;
}

.hpyc-section .hpyc-image img {
    border: 2px solid var(--hero-background);
}

/* in content menu bar */
.hpyc-link-bar a {
    padding: 5px;
    color: var(--menu-text);
}
.hpyc-link-bar a:hover {
    background-color: var(--menu-selected);
    text-decoration: underline;
}

.hpyc-link-bar {
    padding: 5px;
    background-color: var(--menu-background);
}

.hpyc-link-bar > a:not(:last-child) {
    border-right: 2px solid var(--menu-divider);
}

/* more and less buttons */
.hpyc-more {
    border: none;
    background-color: white;
    color: var(--hpyc-text);
    padding: 2px;
    text-decoration: dotted underline;
}
.hpyc-more:before {
    content: "more >";
}

.hpyc-less {
    border: none;
    background-color: white;
    color: var(--hpyc-text);
    padding: 2px;
    text-decoration: dotted underline;
}
.hpyc-less:before {
    content: "< less";
}


/*  adjusting spectre defaults */
.carousel-container {
  border: 1px solid var(--hero-background);
}

.carousel .carousel-container::before {
    padding-bottom: 33.3%;
}

#footer {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--hero-background);
}
