:root {
  /* hpyc */
  --hpyc-red: #ff3333;

  /* header */
  --hero-background: #265fd9;

   /* menu */
  --menu-background: #ff3333;
  --menu-text: #dee7f9;
  --menu-selected: #265fd9;
}



<! -- tankerton -->
_body {
   font-family: Lora;
}


#hpyc-hero .hero-body {
    color: var(--menu-text);
    text-align: center;
    background-image: url("images/waves.png");
}

.hero {
    /* override Spectre CSS */
    padding-bottom: 0rem;
    padding-top: 2rem;
    background:  var(--hero-background);
}

#hpyc-hero h1{
   font-size: 60px;
}

#hypc-menu .navbar-section {
  background: #333!important;
}

#hypc-menu a {
    color: var(--menu-text);
}

<!-- standard content page -->
.hypc-page {
    margin-left:30px;
    margin-right:30px;
    border: 2px solid var(--hpyc-red);
}


.hypc-content h1{
  padding-left: 20px;
  padding-right: 20px;

}

.hypc-content p{
  padding-left: 20px;
  padding-right: 20px;
}


div .hypc-image  {
  _padding:10px;
  _border: 2px solid green;
}

.hypc-image span {
  padding:20px;
  display: inline-block;
  _border: 1px solid #265fd9;
}
.hypc-image img {
  _padding:20px;
  border: 2px solid #265fd9;
}


<!-- adjusting spectre defaults -->
.carousel-container {
  border: 2px solid pink;
}
.carousel .carousel-container::before {
    padding-bottom: 33.3%;
}


