:root {
  /* hpyc */
  --hpyc-red: #ff3333;
  --hpyc-text: #3b4351;

  /* header */
  --hero-background: #266ed9;

   /* menu */
  --menu-background: #1C509E;
  --menu-text: #dee7f9;
  --menu-divider: #dee7f9;
  --menu-selected: #266ed9;
}


#hpyc-hero .hero-body {
    color: var(--menu-text);
    text-align: center;
    _background-image: url("images/waves.png");
}

.hero {
    /* override Spectre CSS */
    padding-bottom: 0rem;
    padding-top: 2rem;
    background:  var(--hero-background);
}

#hpyc-hero h1{
   font-size: 60px;
}


#hpyc-menu a {
    color: var(--menu-text);
}

/* style the fundraising link on top right */
span.fundraising {
    position: absolute;
    right: 15;
    top: 10;
    color:var(--menu-text);;
    vertical-align:top
}
span.fundraising a {
    opacity: 0.7;
}
span.fundraising a:hover {
    opacity: 1.0;
}

div.hpyc-panel {
  margin-top: 0.5rem;
  _margin-left: 1rem;
  _margin-right: 1rem;
  _border: 2px solid green;
}

/* standard content page */
div.hpyc-page {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  _border: 2px solid pink;
}

/* can these go? */
.xxxhpyc-content h1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.xxxhpyc-content p {
  margin-left: 1rem;
  margin-right: 1rem;;
  _border: 2px solid red;
}


.hpyc-section h1 {
  _margin-top: 0.5rem;
  _margin-left: 1rem;
  _margin-right: 1rem;
}

.hpyc-top-panel p {
  _margin-left: 1rem;
  _margin-right: 1rem;;
  _border: 2px solid red;
}

.hpyc-section .hpyc-image {
  _margin-left: 1rem;
  _margin-right: 1rem;;
  _border: 2px solid red;
}

/* standard context section */
.hpyc-section {
    padding-left:10px
    padding-right:10px;

    margin-bottom: 0.5rem;
    _border: 2px solid pink;
}

.hpyc-content-panel h2 {
  margin-top: 0.3rem;
}

.hpyc-table-panel table {
  _margin-left: 1rem;
  _margin-right: 1rem;
  padding-right: : 5rem;
}

.hpyc-table-panel p {
  _margin-left: 1rem;
  _margin-right: 1rem;

}

.hpyc-section h2 {
  margin-top: 0.3rem;
  _margin-left: 1rem;
  _margin-right: 1rem;
}

.hpyc-section .hpyc-image  {
    padding-top:10px;
    _border: 2px solid green;
}


span.hpyc-image  {
    margin-right:20px;
    margin-top:20px
    margin-bottom:20px;
    padding-bottom : 10px;
    display: inline-block;
    _border: 2px solid pink;
}

.hpyc-section .hpyc-image img {
    border: 2px solid var(--hero-background);
}

.hpyc-link-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    margin : 0px;
    background-color: var(--menu-background);
    _margin:10px;
    _border: 1px solid yellow;
    /* hacking a line gap to make multiline look ok */
    line-height: 1.9;
}

/* in content menu bar */
.hpyc-link-bar a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--menu-text);
    white-space: nowrap;
}

.hpyc-link-bar a:hover {
    background-color: var(--menu-selected);
    text-decoration: underline;
}


.hpyc-link-bar > a:not(:last-child) {
    border-right: 2px solid var(--menu-divider);
}

.hpyc-link-bar > a:not(:first-child) {
     /* css hack to account for "hidden" space between each anchor by reducing the padding */
     _padding-left: 8px;
}

/* more and less buttons */
.xxhpyc-more {
    border: none;

    background-color: white;
    color: var(--hpyc-text);
    padding: 2px;
    text-decoration: dotted underline;
}

.hpyc-action-button {
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #eee;
    color: var(--hpyc-text);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}

.hpyc-more {
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #eee;
    color: var(--hpyc-text);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}
.hpyc-more:before {
    content: "more >";
}

.xxhpyc-less {
    border: none;
    background-color: white;
    color: var(--hpyc-text);
    padding: 2px;
    text-decoration: dotted underline;
}

.hpyc-less {
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #eee;
    color: var(--hpyc-text);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin:0px;
}
.hpyc-less:before {
    content: "< less";
}


/*  adjusting spectre defaults */
.carousel-container {
  border: 1px solid var(--hero-background);
}

.carousel .carousel-container::before {
    padding-bottom: 33.3%;
}

/* footer styling */
div.footer {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--hero-background);
}
div.footer a:link.mailto { color:white; text-decoration: none; }
div.footer a:visited.mailto { color:white; text-decoration: none; }
div.footer a:hover.mailto { color:white; text-decoration: underline; }
div.footer a:active.mailto { color:white; text-decoration: underline; }
div.footer a.image { opacity: .7;  }
div.footer a:hover.image { opacity: 1;  }


span.icon {
  color: var(--hero-background);
}