body {
    background: #fff;
    color: #3b4351;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-size: .8rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility
}